.ui-autocomplete-loading {
    background: white url('images/loading.gif') right center no-repeat;
}

.waiting {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('images/loading.gif') 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .waiting {
    display: block;
}

/* Many thanksk to this https://github.com/twbs/bootstrap/issues/9939
*/
/*
.btn-group {
  display: flex !important;
}
*/